<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ComentarioMapper">
    
    <resultMap type='Comentario' id='ComentarioResult'>
        <id property='commentId' column='commentId'/>    
        <result property='contenido' column='contenido'/>      
        <result property='fechaDePublicacion' column='fechaCreacion'/>
        <association property='usuario' javaType ="Usuario" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult'/>
    </resultMap>
    
    
    <insert parameterType="map" id="agregarComentario">
        insert into comentarios (contenido,fechaCreacion,Usuarios_documento,Iniciativas_id,commentId) values(#{c.contenido},#{c.fechaDePublicacion},#{c.usuario.documento},#{ini}, #{c.commentId});    	
    </insert>
    
    <select id="consultarComentarios" parameterType="map" resultMap="ComentarioResult"> 
        SELECT 
        c.contenido,
        c.fechacreacion,
        u.documento,
        u.nombre,
        u.area,
        u.telefono,
        u.correo,
        u.rol
        FROM usuarios as u,comentarios as c WHERE u.documento = c.usuarios_documento and c.iniciativas_id = #{idIniciativa};
    </select>
    
    <select id="consultarMax" parameterType="map" resultMap="ComentarioResult"> 
        SELECT *
        FROM comentarios;
    </select>
    
    
</mapper>
