<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ComentarioMapper">
    
    <resultMap type='Comentario' id='ComentarioResult'>
        <id property='contenido' column='contenido'/>          
        <result property='fechaDePublicacion' column='fechaCreacion'/>
        <association property='usuario' javaType ="Usuario" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult'/>
    </resultMap>
    
</mapper>
