<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper">
    
    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id'/>        
        <result property='estado' column='estados_idEstado'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechaCreacion' column='fechaCreacion'/>
        <result property='area' column='area'/>
        <result property='palabrasClave' column='palabrasclave'/>
        <association property='autor' javaType="Usuario" resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult'/>       
        <collection property="comentarios" ofType="Comentario" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ComentarioMapper.ComentarioResult"></collection>
    </resultMap>
    
    
    <insert parameterType="map" id="agregarIniciativa">
    	INSERT INTO iniciativas values(#{i.id},#{i.estado},#{i.autor.documento},#{i.nombre},#{i.descripcion},#{i.fechaCreacion}, string_to_array(#{i.palabrasClave},','),#{i.area});   	
    </insert>
    
    <select id="consultarIniciativas" parameterType="map" resultMap="IniciativaResult">
        SELECT *
        FROM iniciativas;
    </select>
    
    <update parameterType="map" id="updateEstadoIniciativa">
        UPDATE iniciativas
        SET estados_idEstado=#{estado}
        WHERE id=#{id};
        
    </update>
    
    <select id="buscarIniciativas" parameterType="map" resultMap="IniciativaResult"> 
        SELECT 
            i.id,
            i.estados_idEstado,
            i.nombre,
            i.descripcion,
            i.fechaCreacion,
            i.area,
            i.palabrasclave,
            u.documento,
            u.nombre,
            u.area,
            u.telefono,
            u.correo,
            u.rol
        FROM iniciativas as i,usuarios as u WHERE u.documento = i.usuarios_documento;
    </select>
    
  </mapper>

