<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper">
    
    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id'/>        
        <result property='estado' column='estados_idEstado'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechaCreacion' column='fechaCreacion'/>
        <result property='area' column='area'/>
        <result property='palabrasClave' column='palabrasclave'/>
        <result property='votos' column='votos'/>
        <association property='autor' javaType="Usuario" columnPrefix ='user_' resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult'/>       
        <collection property="comentarios" ofType="Comentario" resultMap="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.ComentarioMapper.ComentarioResult"></collection>
    </resultMap>
    
    
    <insert parameterType="map" id="agregarIniciativa">
    	INSERT INTO iniciativas values(#{i.id},#{i.autor.documento},#{i.nombre},#{i.descripcion},#{i.fechaCreacion}, string_to_array(#{i.palabrasClave},','),#{i.area},#{i.estado});   	
    </insert>
    
    <insert parameterType="map" id="agregarIniciativaTest">
    	INSERT INTO iniciativas values(#{i.id},#{i.autor.documento},#{i.nombre},#{i.descripcion},#{i.fechaCreacion},'palabrasClave',#{i.area},#{i.estado});   	
    </insert>
    
    <select id="consultarIniciativas" parameterType="map" resultMap="IniciativaResult">
        SELECT 
            i.id,
            i.estados_idEstado,
            i.nombre,
            i.descripcion,
            i.fechaCreacion,
            i.area,
            i.palabrasclave,
            u.documento as user_documento,
            u.nombre as user_nombre,
            u.area as user_area,
            u.telefono as user_telefono,
            u.correo as user_correo,
            u.rol as user_rol
        FROM iniciativas as i,usuarios as u WHERE u.documento = i.usuarios_documento;
    </select>
    
    <update parameterType="map" id="updateEstadoIniciativa">
        UPDATE iniciativas
        SET estados_idEstado=#{estado}
        WHERE id=#{id};
        
    </update>
    
    <select id="buscarIniciativas" parameterType="map" resultMap="IniciativaResult">  
        SELECT 
            i.id,
            i.estados_idEstado,
            i.nombre,
            i.descripcion,
            i.fechaCreacion,
            i.area,
            i.palabrasclave,
            u.documento as user_documento,
            u.nombre as user_nombre,
            u.area as user_area,
            u.telefono as user_telefono,
            u.correo as user_correo,
            u.rol as user_rol,
            (select count(*) from intereses join iniciativas on intereses.iniciativa_documento = iniciativas.id where intereses.voto=true and i.id=iniciativas.id) as votos
        FROM iniciativas as i join usuarios as u on u.documento = i.usuarios_documento  left join intereses as inte on i.id=inte.Iniciativa_documento
       
    </select>
   
   
   
    <select id="iniciativasUnUsuario" parameterType="map" resultMap="IniciativaResult"> 
        SELECT 
            i.id,
            i.estados_idEstado,
            i.nombre,
            i.descripcion,
            i.fechaCreacion,
            i.area,
            i.palabrasclave,
            u.documento as user_documento,
            u.nombre as user_nombre,
            u.area as user_area,
            u.telefono as user_telefono,
            u.correo as user_correo,
            u.rol as user_rol,
            <!--(select count(*) from intereses join iniciativas on intereses.iniciativa_documento = iniciativas.id where intereses.voto=true and i.id=iniciativas.id) as votos-->
            3 as votos
        FROM iniciativas as i join usuarios as u on u.documento = i.usuarios_documento  left join intereses as inte on i.id=inte.Iniciativa_documento 
        where u.documento=#{doc}
        GROUP BY i.id, u.documento;
    </select>
    
     <update parameterType="map" id="cambiarDescripcionIniciativa">
        UPDATE iniciativas
        SET descripcion=#{descripcion}
        WHERE id=#{id};
        
    </update>
    
    <update parameterType="map" id="cambiarNombreIniciativa">
        UPDATE iniciativas
        SET nombre=#{nombre}
        WHERE id=#{id};
    </update>
    
    <select id="consultarIniciativa" parameterType="map" resultMap="IniciativaResult">
        SELECT 
            i.id,
            i.estados_idEstado,
            i.nombre,
            i.descripcion,
            i.fechaCreacion,
            i.area,
            i.palabrasclave,
            u.documento as user_documento,
            u.nombre as user_nombre,
            u.area as user_area,
            u.telefono as user_telefono,
            u.correo as user_correo,
            u.rol as user_rol
        FROM iniciativas as i,usuarios as u WHERE u.documento = i.usuarios_documento and i.id=#{id};
    </select>
    
    
   
   
  </mapper>

