<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper">

    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='documento' column='documento'/>        
        <result property='nombre' column='nombre'/>
        <result property='area' column='area'/>
        <result property='telefono' column='telefono'/>
        <result property='correo' column='correo'/>
        <result property='rol' column ='rol'/>        
        <collection property="intereses" ofType="Interes" resultMap="InteresResult"></collection>
    </resultMap>
    
    <!--
    <resultMap type='Iniciativa' id='IniciativaResult'>
        <id property='id' column='id'/>        
        <result property='estado' column='estado'/>
        <result property='nombre' column='nombre'/>
        <result property='descripcion' column='descripcion'/>
        <result property='fechaCreacion' column='fechaCreacion'/>
        <association property='usuario' resultMap='UsuarioResult'/>
        <collection property="palabrasClave" ofType="java.lang.String"></collection>        
        <collection property="comentarios" ofType="Comentario" resultMap="ComentarioResult"></collection>
    </resultMap>    
    
    
    <resultMap type='Comentario' id='ComentarioResult'>
        <id property='contenido' column='contenido'/>          
        <result property='fechaDeCreacion' column='fechaCreacion'/>
        <association property='usuario' resultMap='UsuarioResult'/>
    </resultMap>
    
    -->
    
    <resultMap type='Interes' id='InteresResult'>        
        <id property='afinidad' column='Afinidades_idAfinidad'/>
        <result property='voto' column='voto'/>
        <association property='iniciativa' resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper.IniciativaResult'/>
    </resultMap>   
    
    <insert parameterType="map" id="agregarUsuario">
    	insert into usuarios (documento,nombre,area,telefono,correo,rol) values(#{u.documento},#{u.nombre},#{u.area},#{u.telefono},#{u.correo},#{u.rol});    	
    </insert>
    
    
    
        
</mapper>