<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.UsuarioMapper">

    <resultMap type='Usuario' id='UsuarioResult'>
        <id property='documento' column='documento'/>        
        <result property='nombre' column='nombre'/>
        <result property='area' column='area'/>
        <result property='telefono' column='telefono'/>
        <result property='correo' column='correo'/>
        <result property='rol' column ='rol'/>        
        <collection property="intereses" ofType="Interes" resultMap="InteresResult"></collection>
    </resultMap>
    
    
    <resultMap type='Interes' id='InteresResult'>        
        <id property='afinidad' column='Afinidades_idAfinidad'/>
        <result property='voto' column='voto'/>
        <association property='iniciativa' resultMap='edu.eci.pdsw.sampleprj.dao.mybatis.mappers.IniciativaMapper.IniciativaResult'/>
    </resultMap>  
    
    <select id="consultarUsuario" parameterType="Usuario" resultMap="UsuarioResult">
        SELECT *
        FROM usuarios
        WHERE documento = #{doc};
    </select> 
    
   
    
    <select id="consultarUsuarios" parameterType="Usuario" resultMap="UsuarioResult">
        SELECT *
        FROM usuarios;
    </select>
    
    <update parameterType="map" id="updateUsuario">
        UPDATE usuarios
        SET rol=#{rol}
        WHERE documento=#{doc};
        
    </update>
    
    <insert parameterType="map" id="agregarInteres">
    	INSERT INTO INTERESES (Iniciativa_documento,Usuarios_id,Afinidades_idAfinidad,voto) VALUES(#{iniciativa},#{usuario},#{inte.afinidad},#{inte.voto});
        
    </insert>
    
    <update parameterType="map" id="updateInteres">
        UPDATE intereses
        SET voto=#{voto}
        WHERE Iniciativa_documento=#{doc} and Usuarios_id=#{usu};
        
    </update>
    
     <select id="consultarInteres" parameterType="Usuario" resultMap="InteresResult">
        SELECT *
        FROM intereses
        WHERE Iniciativa_documento=#{doc} and Usuarios_id=#{usu};
    </select> 
    
    <insert parameterType="map" id="agregarUsuario">
    	insert into usuarios (documento,nombre,area,telefono,correo,rol) values(#{u.documento},#{u.nombre},#{u.area},#{u.telefono},#{u.correo},#{u.rol});    	
    </insert>
    
    
    <select parameterType="map" id="compararUsuario" resultMap="UsuarioResult">
			select * FROM usuarios where correo=#{correousr};
	</select>
	
	<select parameterType="map" id="getRolUsuario" resultMap="UsuarioResult">
			select u.Rol FROM usuarios as u where u.correo=#{correousr};
	</select>
    
    
        
</mapper>